<a href="https://colab.research.google.com/github/shri4916/DS-Class/blob/main/17_Python_Pandas_Date_time_stamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Working with date and time using Pandas

In [2]:
# Create dataframe of date and time

import pandas as pd

#create dates dataframe with frequencey

data = pd.date_range('1-1-2020', periods = 8, freq = 'H')

data

/tmp/ipython-input-2674465743.py:7: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  data = pd.date_range('1-1-2020', periods = 8, freq = 'H')

DatetimeIndex(['2020-01-01 00:00:00', '2020-01-01 01:00:00',
               '2020-01-01 02:00:00', '2020-01-01 03:00:00',
               '2020-01-01 04:00:00', '2020-01-01 05:00:00',
               '2020-01-01 06:00:00', '2020-01-01 07:00:00'],
              dtype='datetime64[ns]', freq='h')

Datetime features can be divided into two categories. The first one time moments in a period and second the time passed since a particular period. These features can be very useful to understand the patterns in the data.

Divide a given date into features â€“

pandas.Series.dt.year returns the year of the date time.

pandas.Series.dt.month returns the month of the date time.

pandas.Series.dt.day returns the day of the date time.

pandas.Series.dt.hour returns the hour of the date time.

pandas.Series.dt.minute returns the minute of the date time.

In [14]:
# create a data frame for dates range
rng = pd.DataFrame()
rng['Date'] = pd.date_range('1-12-2025', periods = 12, freq = 'h')
# here we have given ['Date'] to create a column with name Date.
#we can use 'ME' for months, h for hour
print(rng)
print("\n______________________________________________________________\n\n")

# now create separate columns for year, month, day, hour minute
rng['Year'] = rng['Date'].dt.year
rng['Month'] = rng['Date'].dt.month
rng['Day'] = rng['Date'].dt.day
rng['Hour'] = rng['Date'].dt.hour
rng['Minute'] = rng['Date'].dt.minute
rng['Second'] = rng['Date'].dt.second


print(rng)

                  Date
0  2025-01-12 00:00:00
1  2025-01-12 01:00:00
2  2025-01-12 02:00:00
3  2025-01-12 03:00:00
4  2025-01-12 04:00:00
5  2025-01-12 05:00:00
6  2025-01-12 06:00:00
7  2025-01-12 07:00:00
8  2025-01-12 08:00:00
9  2025-01-12 09:00:00
10 2025-01-12 10:00:00
11 2025-01-12 11:00:00

______________________________________________________________


                  Date  Year  Month  Day  Hour  Minute  Second
0  2025-01-12 00:00:00  2025      1   12     0       0       0
1  2025-01-12 01:00:00  2025      1   12     1       0       0
2  2025-01-12 02:00:00  2025      1   12     2       0       0
3  2025-01-12 03:00:00  2025      1   12     3       0       0
4  2025-01-12 04:00:00  2025      1   12     4       0       0
5  2025-01-12 05:00:00  2025      1   12     5       0       0
6  2025-01-12 06:00:00  2025      1   12     6       0       0
7  2025-01-12 07:00:00  2025      1   12     7       0       0
8  2025-01-12 08:00:00  2025      1   12     8       0       0
9  2025-01-12 09:00:00  2025      1   12     9       0       0
10 2025-01-12 10:00:00  2025      1   12    10       0       0
11 2025-01-12 11:00:00  2025      1   12    11       0       0

In [15]:
# print todays date
from datetime import  date
today = date.today()
print("Today's date  is : ", today)

Today's date  is :  2025-12-02

In [29]:
# Print date in diffrent dd-mm-yyyy format
today
#dd-mm-yy format
ddmmyy = today.strftime("%d/%m/%y")
print("Todays date in dd/mm/yy formt is :", ddmmyy)

# Texual month day, year format
# Here I can use b or B.
# B give me full month name Ex December, b gives abrivation Ex Dec.
mm_ddyy = today.strftime("%b %d,%y")
print("Todays date in Month Day, Year formt is :", mm_ddyy)

# mm dd yy format
mmddyy=today.strftime("%m/%d/%y")
print("Todays date in mm-dd-yy formt is :", mmddyy)

# ddmmyy format with - and not with /
ddmmyyyy = today.strftime("%d-%m-%y")
print("Todays date in dd-mm-yy formt is :", ddmmyyyy)

Todays date in dd/mm/yy formt is : 02/12/25
Todays date in Month Day, Year formt is : Dec 02,25
Todays date in mm-dd-yy formt is : 12/02/25
Todays date in dd-mm-yy formt is : 02-12-25

#Timedelta
So far, we have seen how to create a DateTime object and how to format it. But sometimes, you might have to find the duration between two dates, which can be another very useful feature that you can derive from a dataset. This duration is, however, returned as a timedelta object.

In [2]:
# Time delta - Durating betweeen 2 dates/time

from datetime import datetime,time
d1 = datetime(2025,12,2,12,17,35)
d2 = datetime(2025,12,8,1,17,47)

diffrance = d1-d2
print(diffrance)
print(type(diffrance))

-6 days, 10:59:48
<class 'datetime.timedelta'>

#Datetime and Pandas Dataframe

In [4]:
import pandas as pd

url  = "http://bit.ly/uforeports"

#read csv from url
df = pd.read_csv(url)
print(df)
print(df.head())
print(df)

                       City Colors Reported Shape Reported State  \
0                    Ithaca             NaN       TRIANGLE    NY
1               Willingboro             NaN          OTHER    NJ
2                   Holyoke             NaN           OVAL    CO
3                   Abilene             NaN           DISK    KS
4      New York Worlds Fair             NaN          LIGHT    NY
...                     ...             ...            ...   ...
18236            Grant Park             NaN       TRIANGLE    IL
18237           Spirit Lake             NaN           DISK    IA
18238           Eagle River             NaN            NaN    WI
18239           Eagle River             RED          LIGHT    WI
18240                  Ybor             NaN           OVAL    FL

                   Time
0        6/1/1930 22:00
1       6/30/1930 20:00
2       2/15/1931 14:00
3        6/1/1931 13:00
4       4/18/1933 19:00
...                 ...
18236  12/31/2000 23:00
18237  12/31/2000 23:00
18238  12/31/2000 23:45
18239  12/31/2000 23:45
18240  12/31/2000 23:59

[18241 rows x 5 columns]
                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00
                       City Colors Reported Shape Reported State  \
0                    Ithaca             NaN       TRIANGLE    NY
1               Willingboro             NaN          OTHER    NJ
2                   Holyoke             NaN           OVAL    CO
3                   Abilene             NaN           DISK    KS
4      New York Worlds Fair             NaN          LIGHT    NY
...                     ...             ...            ...   ...
18236            Grant Park             NaN       TRIANGLE    IL
18237           Spirit Lake             NaN           DISK    IA
18238           Eagle River             NaN            NaN    WI
18239           Eagle River             RED          LIGHT    WI
18240                  Ybor             NaN           OVAL    FL

                   Time
0        6/1/1930 22:00
1       6/30/1930 20:00
2       2/15/1931 14:00
3        6/1/1931 13:00
4       4/18/1933 19:00
...                 ...
18236  12/31/2000 23:00
18237  12/31/2000 23:00
18238  12/31/2000 23:45
18239  12/31/2000 23:45
18240  12/31/2000 23:59

[18241 rows x 5 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18241 entries, 0 to 18240
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   City             18215 non-null  object
 1   Colors Reported  2882 non-null   object
 2   Shape Reported   15597 non-null  object
 3   State            18241 non-null  object
 4   Time             18241 non-null  object
dtypes: object(5)
memory usage: 712.7+ KB

In [6]:
# convert time column to date time format

df['Time'] = pd.to_datetime(df.Time)
df.head()

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,1930-06-01 22:00:00
1,Willingboro,NaN,OTHER,NJ,1930-06-30 20:00:00
2,Holyoke,NaN,OVAL,CO,1931-02-15 14:00:00
3,Abilene,NaN,DISK,KS,1931-06-01 13:00:00
4,New York Worlds Fair,NaN,LIGHT,NY,1933-04-18 19:00:00

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18241 entries, 0 to 18240
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   City             18215 non-null  object
 1   Colors Reported  2882 non-null   object
 2   Shape Reported   15597 non-null  object
 3   State            18241 non-null  object
 4   Time             18241 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(4)
memory usage: 712.7+ KB

#Day first format
By default, to_datetime() will parse string with month first (MM/DD, MM DD, or MM-DD) format, and this arrangement is relatively unique in the United State.

In most of the rest of the world, the day is written first (DD/MM, DD MM, or DD-MM). If you would like Pandas to consider day first instead of month, you can set the argument dayfirst to True.

In [8]:
df = pd.DataFrame({"Date": ["2025-12-1","2025-12-5", "2025-12-7"], "Value": [2,3,4]})

df["Date"] = pd.to_datetime(df.Date, dayfirst = True)

print(df.info())
print(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    3 non-null      datetime64[ns]
 1   Value   3 non-null      int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 180.0 bytes
None
        Date  Value
0 2025-01-12      2
1 2025-05-12      3
2 2025-07-12      4