<a href="https://colab.research.google.com/github/shri4916/DS-Class/blob/main/3_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Operators
Operator is a symbol that performs certain operations.

 Python provides the following set of operators

Arithmetic Operators

Relational Operators OR Comparison Operators

Logical operators

Bitwise oeprators

Assignment operators

Special operators

Arithmetic Operators:
 Addition: +

 Subtraction: -

 Multiplication: *

 Division Operator: /

 Modulo Operator: %

 Floor Division Operator: //

 Exponent Operator OR Power Operator: **

#1] Arithmatic operators

In [6]:
a = 10
b = 2
print('a+b =',a+b)
print('a-b =',a-b)
print('a*b =',a*b)
print('a/b =',a/b)
print('a//b =',a//b)
print('a%b =',a%b)
print('a**b =',a**b)

a+b = 12
a-b = 8
a*b = 20
a/b = 5.0
a//b = 5
a%b = 0
a**b = 100

# 2] Relational Operators:  >,>=, <, <=

In [7]:
a = 10
b = 20
print('a>b is ',a>b)
print('a>=b is ',a>=b)
print('a<b is ',a<b)
print('a<=b is ',a<=b)

a>b is  False
a>=b is  False
a<b is  True
a<=b is  True

# Equality Operators: ==, !=
We can apply these operators for any type even for incompatible types also.

In [8]:
10==10

True

In [9]:
10==20

False

In [10]:
10==True

False

In [12]:
True==True

True

In [13]:
10!=10

False

In [14]:
10!=20

True

# Logical Operators: and, or, not
We can apply for all types.

For boolean Types Behaviour:

and -> If both arguments are True then only result is True

or -> If atleast one arugemnt is True then result is True

not -> Complement

True and False ==> False

True or False ==> True

not False ==> True

For non-boolean Types Behaviour:

0 means False

non-zero means True

empty string is always treated as False

x and y:

If x is evaluates to false return x otherwise return y

Eg:

10 and 20

0 and 20

If first argument is zero then result is zero otherwise result is y