<a href="https://colab.research.google.com/github/shri4916/DS-Class/blob/main/5_python_string.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#String
Any sequence of characters within either single quotes or double quotes is considered as a String.

We can define multi-line String literals by using triple single or double quotes.

We can also use triple quotes to use single quotes or double quotes as symbol inside String literal

In [ ]:
s = "Data"
s = 'Data'
s = '''Hi "Shriniwas" welcome to the club'''
print(s)

Hi "Shriniwas" welcome to the club

#How to access characters of a string?
We can access characters of a string by using the following ways.

By using index
By using slice operator

In [ ]:
# 1. accessing characters by using index
s[5]

'h'

In [ ]:
s[-4]

'c'

In [ ]:
# 2. Accessing characters by using slice operator
#  Syntax: s[begin index : end index : step]
s[0:4]

'Hi "'

In [ ]:
s[41:0:-1]

'bulc eht ot emoclew "sawinirhS" i'

In [ ]:
s[::1]

'Hi "Shriniwas" welcome to the club'

In [ ]:
s[0]

'H'

In [ ]:
s[::-1]

'bulc eht ot emoclew "sawinirhS" iH'

len() in-built function

In [ ]:
len(s)

34

#Q)Write a Program to access each Character of String in Forward and Backward Direction by using while Loop?

In [ ]:
s = input("Enter a string :")
l = len(s)
i = 0
print("Foreward")
while i<l:
  print(s[i],end='')
  i+=1

i=l-1
print("\nBackward")
while i>=0:
  print(s[i],end='')
  i-=1

Enter a string :shri
Foreward
shri
Backward
irhs

#Checking Membership:
We can check whether the character or string is the member of another string or not by using in and not in operators.

In [ ]:
s = 'data'
'd' in s

True

#Comparison of Strings
We can use comparison operators (<, <=, >, >=) and equality operators (==, !=) for strings.

#Removing Spaces from the String:
1)rstrip()-->To remove spaces at right hand side.

lstrip()--> To remove spaces at left hand side.

strip()-->To remove spaces both sides.

In [ ]:
s = input("Enter city name :")
city = s.strip()
if city=="Pune":
  print("Welcome to Pune")
else:
  print("City not found")

Enter city name : Pune
Welcome to Pune

In [ ]:
s = " data l"
print(s.strip())
print(s.lstrip())
print(s.rstrip())

data l
data l
 data l

#Finding Substrings:
We can use the following 4 methods

For forward direction:

1. find()

2. index()

For backward direction:

1. rfind()

2. rindex()

# find()

In [ ]:
# find(): Returns index of first occurrence of the given substring. If it is not available then we will
# get -1.
s="data"
s.find("data") #0th index

0

In [ ]:
#synntax - variable.find("Substring", start index, end index)
s="data"
print(s.find('a',1,2))

1

#2)index()

index() method is exactly same as find() method except that if the specified substring is not available then we will get ValueError.

In [ ]:
# we will get a error if the substring is not available
s.index('m')

ValueError: substring not found

In [ ]:
s.index('a')

1

#Q) Program to display all Positions of Substring in a given Main String

In [ ]:
s=input("Entermainstring:")
subs=input("Entersubstring:")
flag=False
pos=-1
n=len(s)
while True:
  pos=s.find(subs,pos+1,n)
  if pos==-1:
    break
  print("Found at position",pos)
  flag=True
if flag==False:
  print("Not Found")

Entermainstring:saregamapa
Entersubstring:a
Found at position 1
Found at position 5
Found at position 7
Found at position 9

#Count substring in the given String:
We can find the number of occurrences of substring present in the given string by using count() method.

s.count(substring)-->It will search through out the string.

s.count(substring, bEgin, end)-->It will search from bEgin index to end-1 index.

In [ ]:
s = "saregamapa"
print(s.count('a'))

4

#Replacing a String with another String:
s.replace(oldstring, newstring)

Inside s, every occurrence of old String will be replaced with new String.

In [ ]:
a = "Jay Hind Jay India"
s = a.replace("India","Bharat")
print(s)

Jay Hind Jay Bharat

#Splitting of Strings:
We can split the given string according to specified seperator by using split() method.

Syntax: l = s.split(seperator)

In [ ]:
s = input("Enter a string :")
l = s.split('-')
for x in l:
  print(x)

Enter a string :python is a easy lang
python is a easy lang

Reverse a string

In [ ]:
s = input("Enter a string :")
l = s.split(' ')
print(l)
l.reverse()
print(l)

Enter a string :python is a easy lang
['python', 'is', 'a', 'easy', 'lang']
['lang', 'easy', 'a', 'is', 'python']

#Joining Of Strings:
s = seperator.join(group of strings)

In [ ]:
list1= ["data","science","ai"]
print(list1)
a = "-".join(list1)
print(a)

['data', 'science', 'ai']
data-science-ai

#Changing the case of a string:
upper()-->To convert all characters to upper case.

lower()-->To convert all characters to lower case.

swapcase() --> Converts all lower case characters to upper case and all upper case characters to lower case

title() --> To convert all character to title case. i.e first character in every word should be upper case and all remaining characters should be in lower case.

capitalize() --> Only first character will be converted to upper case and all remaining characters can be converted to lower case.

In [ ]:
s = "Shri ambad"
print(s)
print(s.upper())
print(s.lower())
print(s.swapcase())
print(s.title())
print(s.capitalize())

Shri ambad
SHRI AMBAD
shri ambad
sHRI AMBAD
Shri Ambad
Shri ambad

Checking Starting and Ending Part of the String:
Python contains the following methods for this purpose.

s.startswith(substring)

s.endswith(substring)

In [ ]:
print(s.startswith('shri'))
print(s.startswith('Shri'))
print(s.endswith('bad'))

False
True
True

#To Check Type of Characters Present in a String:
Python contains the following methods for this purpose.

isalnum(): Returns True if all characters are alphanumeric( a to z , A to Z ,0 to9 ).

isalpha(): Returns True if all characters are only alphabet symbols(a to z,A to Z)

isdigit(): Returns True if all characters are digits only( 0 to 9)

islower(): Returns True if all characters are lower case alphabet symbols

isupper(): Returns True if all characters are upper case aplhabet symbols

istitle(): Returns True if string is in title case

isspace(): Returns True if string contains only spaces

In [ ]:
print(s.isalnum())
print(s.isalpha())
print(s.isdigit())

False
<built-in method isalpha of str object at 0x7e8305547630>
False
False

#Formatting the Strings:
We can format the strings with variable values by using replacement operator {} and format() method.

In [ ]:
name = "shri"
salary = "10000"
age = "31"
print("{}'s salary is {} at the age of {}".format(name,salary,age))

shri's salary is 10000 at the age of 31

#Q1) Write a Program to Reverse the given String

In [ ]:
s = "shri"
print(s[::-1])

irhs

#Q2) Program to Reverse Order of Words

Input: Learning Python is very Easy

Output: Easy Very is Python Learning

In [ ]:
s = input("Enter a string :")
l = s.split()
l1 = []
d = len(l) - 1

while d >=0:
  l1.append(l[d])
  d-=1

rev = ' '.join(l1)
print(l1)

Enter a string :Learning Python is very Easy
['Easy', 'very', 'is', 'Python', 'Learning']

#Q3) Write a Program to Remove Duplicate Characters from the given Input String?

Input: ABCDABBCDABBBCCCDDEEEF

Output: ABCDEF

In [1]:
s = "ABCDABBCDABBBCCCDDEEEF"
l=[]

for x in s:
  if x not in l:
    l.append(x)
a = ''.join(l)

print(a)

ABCDEF

#Q4) Write a Program to find the Number of Occurrences of each Character present in the given String?

Input: ABCABCABBCDE

Output: A-3,B-4,C-3,D-1,E-1

In [4]:
s = "ABCABCABBCDDD"
d = {}

for x in s:
  if x in d.keys():
    d[x] = d[x] +1
  else:
    d[x] = 1

print(d)
for k,v in d.items():
  print("{} = {} times".format(k,v))

{'A': 3, 'B': 4, 'C': 3, 'D': 3}
A = 3 times
B = 4 times
C = 3 times
D = 3 times

In [5]:
s = "ABCABCABBCDDD"
d = {}

for x in s:
  if x in d:
    d[x] = d[x] + 1
  else:
    d[x] = 1

for k,v in d.items():
  print("{} = {} times".format(k,v))

A = 3 times
B = 4 times
C = 3 times
D = 3 times