<a href="https://colab.research.google.com/github/shri4916/DS-Class/blob/main/9_Python_basics_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Dictionary Data Structure
֍We can use List, Tuple and Set to represent a group of individual objects as a single entity

֍ If we want to represent a group of objects as key-value pairs then we should go for Dictionary.

rollno ---- name

phone number -- address

ipaddress --- domain name

֍Duplicate keys are not allowed but values can be duplicated.

֍Hetrogeneous objects are allowed for both key and values.

֍Insertion order is not preserved.

֍Dictionaries are mutable.

֍Dictionaries are dynamic.

֍Indexing and slicing concepts are not applicable.

#How to create a dictionary

In [1]:
#creating an empty dictionary
d = {}
a = dict()

In [2]:
# Adding data in dictionary
d[1] = "A"
d[2] = "B"
d[3] = "C"
d[1] = "D"
print(d)

{1: 'D', 2: 'B', 3: 'C'}

In [4]:
#another way to create a dictionary
a = {"Name":"Shri", "Age": 21, "City": "Pune"}
print(a)

{'Name': 'Shri', 'Age': 21, 'City': 'Pune'}

In [12]:
#How to fetch a single value form dictionary
print(a["Name"])
print(a.get("Taluka"))
print(a["Taluka"])
#if i give a invalid key diretly to dearch it will give error, but when I use .get for invallid key it will geve "None"

Niwas
None

KeyError: 'Taluka'

#How to Update Dictionaries?
֍ syntax: d[key] = value

֍ If the key is not available then a new entry will be added to the dictionary with the specified key-value pair.

֍If the key is already available then old value will be replaced with new value.

In [7]:
a["Name"] = "Niwas"
a ["hight"] = 175
print(a)

{'Name': 'Niwas', 'Age': 21, 'City': 'Pune', 'NAme': 'Niwas', 'hight': 175}

#How to Delete Elements from Dictionary?

In [14]:
#1. del d[key]
# If deletes entry associated with the specified key.
#If the key is not available then we will get KeyError.
a = {'Name': 'Niwas', 'Age': 21, 'City': 'Pune', 'NAme': 'Niwas', 'hight': 175}
del a["NAme"]
print(a)
del a["Taluka"]

{'Name': 'Niwas', 'Age': 21, 'City': 'Pune', 'hight': 175}

KeyError: 'Taluka'

#  .clear()
To remove all entries from dictionary

In [15]:
a = {'Name': 'Niwas', 'Age': 21, 'City': 'Pune', 'NAme': 'Niwas', 'hight': 175}
a.clear()
print(a)

{}

In [16]:
# 3. del(): To delete total dict.
d={100:"apple",200:"ball",300:"cat"}
print(d)
del d
print(d) # we have deleted the dict hence throwing error

{100: 'apple', 200: 'ball', 300: 'cat'}

NameError: name 'd' is not defined

#Important Functions of Dictionary:

In [17]:
# to explacitely create a dictionary
d = dict()
type(d)

dict

In [19]:
d = dict([(1,"A"), (2,"B")])
print(d)

{1: 'A', 2: 'B'}

Length

In [20]:
# to find lenghth of dictionary
d = dict([(1,"A"), (2,"B")])
print(len(d))

2

#Nested dictioary

In [21]:
d = {
    "Student1" : {"Name": "Shri", "Age": 21},
    "Student2" : {"Name": "Niwas", "Age": 23},
    "Student3" : {"Name": "Ambad", "Age": 25},
}
print (d)

{'Student1': {'Name': 'Shri', 'Age': 21}, 'Student2': {'Name': 'Niwas', 'Age': 23}, 'Student3': {'Name': 'Ambad', 'Age': 25}}