<a href="https://colab.research.google.com/github/shri4916/DS-Class/blob/main/Assignment_1_python_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. What is a List?
2. What is a Tuple?
3. What is the difference between List and Tuple?
4. Python Program to find the largest element in the list
5. Python program to interchange first and last elements in a list.
6. Python program to swap two elements in a list
7. Python program to Reverse a List
8. Python program to count occurrences of an element in a list
9. Python program to find the sum of elements in a list
10. Python program to Multiply all numbers in the list
11. What are the ways to find the length of a list
12. Python program to find the smallest and largest number in a list (Without min-max function)
13. Python Program to find the area of a circle
14. Take inputs from the user to make a list. Again take one input from the user and search it in the list and delete that element, if found. Iterate over a list using for loop.
15. You are given a list of integer elements. Make a new list that will store a square of elements of the previous list. (With and without list comprehension)

# What is a List?

List is set of data elements in indexing format.

List can contain Int, float, boolean, complex, string

List is mutable means it can be edited

List is growable in nature

List allows Duplicates

List is initiated using []

In [4]:
l = ["Shri", "Niwas", "Ambad"]
l[2] = "Rishi" # upadate value
l.append("Kale") #adding new value
print(l)

['Shri', 'Niwas', 'Rishi', 'Kale']

#What is Tuple

Tuple is immutable

It allows duplicates

It allows indexing

It is not growable in nature

It is written using ()

Basically Tuple is immutable List

In [9]:
t = ("Shri", "Niwas", "Ambad")
print(t)

#t(0) = "Shriniwas"

('Shri', 'Niwas', 'Ambad')

#Difference between List and Tuple

List is Mutable - Tuple is immutable

List is initiated using [] - Tuple is initiated using ()

List has dynamic data - Tuple is fixed data

List is slow - Tuple is fast

#4. Python Program to find the largest element in the list

In [10]:
#Type 1 - max()

Numbers = [ 1, 32, 56, 87, 63]

largest = max(Numbers)
print(largest)

87

In [12]:
#Type 2  - For loop

Numbers = [ 1, 32, 56, 87, 63]

largest = Numbers[0]

for num in Numbers:
  if num > largest:
    largest = num

print(largest)

87

In [13]:
# Type 3 - Sort

Numbers = [ 1, 32, 56, 87, 63]

Numbers.sort()

print(Numbers[-1])

87

#5. Python program to interchange first and last elements in a list.

In [14]:
#type 1 - simple assigment

l = [1,2,3,4,5]
lfirst = l[0]
l[0] = l[-1]
l[-1] = lfirst
print(l)

[5, 2, 3, 4, 1]

In [16]:
#Type 2 - Swapping
l = [1,2,3,4,5]
l[0],l[-1] = l[-1],l[0]
print(l)

[5, 2, 3, 4, 1]

In [19]:
#Type 3 - Using function


def swap_first_Last(l):
  l[0],l[-1] = l[-1],l[0]
  return(l)

l = [1,2,3,4,5]
print("List after swapping", swap_first_Last(l))

List after swapping [5, 2, 3, 4, 1]

#6. Python program to swap two elements in a list

In [20]:
#type 1 - swapping

l = [1,2,3,4,5]
pos1 = int(input("Enter first position : "))
pos2 = int(input("Enter second position : "))

l[pos1],l[pos2] = l[pos2],l[pos1]

print(l)

Enter first position : 2
Enter second position : 1
[1, 3, 2, 4, 5]

In [21]:
# Type 2 - Using temp variable

l = [1,2,3,4,5]
pos1 = int(input("Enter first position : "))
pos2 = int(input("Enter second position : "))

temp = l[pos1]
l[pos1] = l[pos2]
l[pos2] = temp

print(l)

Enter first position : 4
Enter second position : 2
[1, 2, 5, 4, 3]

In [23]:
#Type 3 - Using function
l = [1,2,3,4,5]
pos1 = int(input("Enter first position : "))
pos2 = int(input("Enter second position : "))

def swap_position(l, pos1, pos2):
  l[pos1],l[pos2] = l[pos2],l[pos1]
  return(l)

print(swap_position(l,pos1,pos2))

Enter first position : 1
Enter second position : 2
[1, 3, 2, 4, 5]